body{
    background-color: #9C835F;
}

#title{
    font-size: 15pt;
    color: #F9B23D;
    font-weight: bolder;
    /* border: solid; */
}

.info{
    display: flex;
    /* background-color: #F9B23D; */
    justify-content: flex-start;
    /* border-style: solid; */
    align-items: flex-start;
}